<div class="row-fluid">

  <div class="span3">
    <div class="cat_col">
      <h2>Categories:</h2>
    </div>
  </div>

  <div class="span9">
    <div class="choice_area">


    </div>

    <div class="breaker"></div>

    <div class="row-fluid">
      <div class="span4">
        <div class="adtl_col">


        </div>
      </div>
      <div class="span4">
        <div class="adtl_col">

        </div>
      </div>
      <div class="span4">
        <div class="adtl_col">


        </div>
      </div>
    </div>

  </div>
</div>