<%- model_class = Order -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.user.human_attribute_name(:email) %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= link_to order.user.email, "#" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
